<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="abassawo.c4q.nyc.ecquo" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hi512"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6jAeh4tvOCg0KiFMcGjaNgk1x9pL5t3w" />

        <activity
            android:name=".Activities.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.StatsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.MapViewActivity"
            android:label="@string/title_activity_task_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name=".Activities.LabelPicker"
            android:label="LabelPicker" />

        <service android:name=".Model.WakeUpService" />

        <receiver android:name=".Model.StartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.TaskDetailActivity"
            android:label="@string/title_activity_task" >
        </activity>
        <activity android:name=".Activities.TaskListActivity"
            android:label="@string/title_task_activity_list"/>
    </application>

</manifest>
