<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="abassawo.c4q.nyc.ecquo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ecquo_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6jAeh4tvOCg0KiFMcGjaNgk1x9pL5t3w" />

        <activity
            android:name=".Activities.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Activities.TabbedEditActivity"
            android:label="@string/title_activity_task_edit" >
        </activity>
        <activity
            android:name=".Activities.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
    </application>

</manifest>
